{% include 'general.html' %} 
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'general/img/etlogowhite.PNG' %}> 
		{% comment %} <link rel="stylesheet" href={% static 'generalonboard/css/style.css' %} /> {% endcomment %}
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href={% static 'onboard/css/formcss.css' %} />
		<link rel="stylesheet" href={% static 'onboard/css/style.css' %} />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>ET | Log In </title>
	</head>
	<body>
		<main>
			<div class='loginformproper'>
				<div class='formintro'>
					<img src={% static 'general/img/etlogoblue2.PNG' %} /><br/><br/>
					<h1>Welcome Back</h1><br/>
					<h4>Please provide details to continue</h4><br/><br/>					
				
					<div id="flash">
						{% if messages %} {% for message in messages %}
						<div class="alert alert-{{ message.tags}} m-0" role="alert">
							<strong style="color: #0275be">{{ message }}</strong>
						</div>
						{% endfor %} {% endif %}
					</div>
	
				</div>
				<div class='regformproper'>
					<form method='POST'>
						{% csrf_token %}
						<div class="page">
							<div class="field field_v1">
								<label for="email2" class="ha-screen-reader">Email Address</label>
								<input id="email2" type='email' name='userloginemail' class="field__input" placeholder="e.g. johndoe@gmail.com" required>
								<span class="field__label-wrap" aria-hidden="true">
									<span class="field__label">Your Email Address</span>
								</span>
							</div>

							<div class="field field_v2">
								<label for="password" class="ha-screen-reader">Password</label>
								<input id="passwordlogin" type='password' name='passwordlogin' class="field__input" placeholder="****" required>
								<span class="field__label-wrap" aria-hidden="true">
									<span class="field__label">Your Password</span>
								</span>
							</div>
						</div>
						<div class='submitLoginFormOut'>
							<button type='submit' name='submit' class='submitLoginForm'>Log in</button>
						</div>
						<div class='createAcctPrompt'>
							<div>Don't have an account yet? <p class='returntosignup' >Click here to create one</p></div>
							<p><a href={% url 'UserSignUpFxn' %} class='forgetPwd'>Forgot password?</a></p>
						</div>
						<div class='copyrightSection'>
							<div class='copyrightSectionInner'>
								<img src={% static 'general/img/copyright.png' %} />
								<h4>2023. Exodus - Trade. All rights reserved</h4>
							</div>
						</div>
					</form>				
				</div>
			</div>
			{% comment %} MAIN BODY AREA ENDS HERE {% endcomment %}
        </main>
		<script src={% static 'onboard/js/main.js' %}></script>
    </body>
</html>
{% endblock content %}