/* 

.withdrawsection1{
    display: flex;
    align-items: center;
    background-color: #004767;
    padding: 10px;
}

.withdrawsection1 img{
    width: 200px;
    margin-right: 20px;
}

.withdrawsection1inner h4{
    text-align: center;
    font-size: 1.5rem;
}

.withdrawsection1inner{
    border: 2px dotted white;
    padding: 5px;
}

.withdrawsection1inner hr {
    border: none;
    border-top: 2px dotted white;
    color: #fff;
    background-color: white;
    height: 1px;
    width: 100%;
  }

.withdrawsection1inner button{
    width: 100%;
    color: #004767;
    border: none;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;;
} */



/*  */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main{
    margin-top: 20px;
}

.withdrawintro{
    padding: 10px;
}


table td a{
    color: black
}
.devicesinvintro{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
}


table {
    margin-top: 30px;
    border: 1px solid white;
    width: 100%;
    font-size: 1.2rem;
    /* margin: auto; */
    margin-bottom: 60px;
    overflow: scroll;
}

td,
th {
    text-align: left;
    padding: 8px;
}

th{
    border: 1px solid ;
    text-align: left;
    padding: 8px;
    color: black;
}

/* tr:nth-child(even) {} */

tr:nth-child(1) {
    color: #4F4F4F;
    background-color: #EEF3F9;
    /* background-color: #19193a3d; */
}

form input,form select{
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #EEF3F9;
    border-radius: 5px;
    font-size: 1.7rem;
    color: black;
    border: none;
}

form button{
    background-color: rgba(16,27,215,0.8687850140056023);
    color: white;
    width: 100%;
    padding: 5px;
    font-size: 1.7rem;
    border: none;
    border-radius: 5px;
}

.withdrawintro{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    margin-top: 40px;
    background-color: #233239;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.transactionsection{
    background-color: #233239;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.withdrawtable{
    overflow-x: scroll;
}


.accountbalance{
    background-color: #233239;
    padding: 10px;
    border-radius: 1rem;
    margin-top: 10px;
}
























@media only screen and (max-width: 1102px){    
    .withdrawintro{
        display: grid;
        grid-template-columns: 100%;
        background-color: 233239;
        justify-content: none;
        margin-top: 40px;
        background-color: none;
    }

    /* form input, select{
        width: 100%;
        height: 50px;
        padding: 10px;
        background-color: #EEF3F9;
        border-radius: 5px;
        font-size: 1.3rem;
        border: none;
    }
    
    form button{
        background-color: rgba(16,27,215,0.8687850140056023);
        color: white;
        padding: 5px;
        font-size: 1.3rem;
        border: none;
        border-radius: 5px;
    } */
    
}






