
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.navlist img{
    width: 20px;
    margin-right: 10px;
}
.navlist{
    display: flex;
    align-items: top;
}

.navlistinner p{
    margin-top: 12px;
}

.navlistinner{
    display: flex;
    align-items: center;
}

body{
    height: 120vh;
    width: 100%;
    /* background-size: cover; */
    /* background-color: black; */
    /* background-repeat: no-repeat; */
    /* object-fit: contain; */
    overflow-x: hidden;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

#google_translate_element{
    /* position: fixed;
    top: 0px; */
    text-align: left;
    margin: auto;
    width: 100vw;
    /* background-color: #181A20; */
    background-color: transparent;
    z-index: 101;
}
.navbar{
    box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.119);
    position: relative;
    width: 100%;
    background: transparent;
    /* background: #fff; */
    color: white;
    opacity: 0.85;
    z-index: 100;
    margin-top: 0px;
    transition: ease-in-out .3s;
}

.scrolled{
    background-color: #181A20;
    /* background-color: #2f37ca; */
    color: black;
    /* margin-top: 0px; */
    opacity: 1;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo img{
    /* order: 1; */
    width: 50px;
    /* font-size: 2.3rem; */
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1rem;
}

.navbar a{
    color: white;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #2f37ca;
}

/* HERO SECTION STARTS HERE */
.herosection{
    height: 100vh;
    /* background:linear-gradient(0deg, #2f37ca6b, #000000a2), url("img/businessman.jpg"); */
    width: 100vw;
    margin-top: -100px;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
.herosection1{
    height: 100vh;
    /* background:linear-gradient(0deg, #2f37ca6b, #000000a2), url("img/cryptoimage.jpg"); */
    width: 100vw;
    margin-top: -100px;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
.herosection2{
    height: 100vh;
    /* background:linear-gradient(0deg, #2f37ca6b, #000000a2), url("img/cryptoimage2.jpeg"); */
    width: 100vw;
    margin-top: -100px;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

@keyframes breath {
    0% { transform:scale(1,1); }
    50% { transform:scale(1.2,1.2); }
    100% {
        transform:scale(1,1); 
    }
    }

.herosectioninner{
    padding-top: 170px;
    width: 50%;
    padding-left: 20px;
}

.loginbutton {
    padding: 10px;
    background-color: white;
    color: #2f37ca;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    width: 150px;
    font-weight: bold;
}

.regbutton {
    padding: 10px;
    background-color: #2f37ca;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    width: 150px;
    font-weight: bold;
}

.loginbuttonnav{
    padding: 5px;
    background-color: white;
    color: #2f37ca;
    /* margin-top: 20px; */
    border: none;
    border-radius: 5px;
    width: 100px;
    font-weight: bold;
}

.regbuttonnav{
    padding: 5px;
    background-color: #2f37ca;
    color: white;
    border: none;
    width: 120px;
    border-radius: 5px;
    font-weight: bold;
}

.posthero{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    margin: 60px 40px;
}

.postheroinner img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.postheroinner{
    display: flex;
    align-items: top;
}

.aboutusinner{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.aboutus{
    margin: 60px 40px;
}

.aboutusinner img{
    width: 100%;
}

.missionmain{
    margin: 40px;
}

.missiontitle{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.active{
    color: #2f37ca;
    border-bottom: 2px solid #2f37ca;
    cursor: pointer;
}

.mission, .vision{
    transition: ease-in-out .4s;
}
.mission:hover, .vision:hover{
    color: #2f37ca;
    border-bottom: 2px solid #2f37ca;
    cursor: pointer;
    transform: scale(1.1);
}

.visionin{
    display: none;
}

.inactive{
    /* color: #2f37ca; */
    border-bottom: 2px solid rgb(200, 200, 200);
    cursor: pointer;
}

.whyus img{
    width: 50px;
    margin: 10px;
}

.whyus{
    margin: 60px 40px;
    text-align: center;
}

/* video:-webkit-full-page-media {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
} */

video {
    object-fit: cover;
    overflow-clip-margin: content-box;
    overflow: clip;
    height:"540px";
}

.charttrade{
    text-align: center;
    background-color: #181A20;
    color: white;
}

.charttrade h1{
    color: #bbbcd2;
    font-size: 3rem;
}

.whyusinner{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    align-items: center;
}

.summaryjourney{
    margin-top: 60px;
    text-align: center;
    padding: 20px;
    /* background-image:url("img/herolady2.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-attachment: fixed;
    background-position: top;
    color: white;
}

.summaryjourneyinner{
    display: grid;
    grid-template-columns: 30% 30% 30% 30%;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

/*  */

.summaryjourneyinnermain{
    width: 150px;
    margin-bottom: 20px;
}

.summaryjourneyinnermain p{
    margin-top: -20px;
    /* font-size: 2.5rem; */
}

  
.start-counter {
text-align: center;
padding: 0 0 5rem;
}

.counter {
text-align: center;
/* transition: .1s ease; */
font-size: 2.5rem;
color: white;
font-weight: bold;
text-align: center;
margin-top: 40px;
height: 100px;
}

.counter p{
    font-size: 1rem;
}

/*  */

.takeaction{
    text-align: center;
    margin: 60px;
    width: 80%;
    margin: auto;
}

.takeactioninner img{
    margin-right: 10px;
}

.takeactioninner{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    margin-top: 50px;
}

.takeactioninnermain{
    display: flex;
    align-items: center;
}

.takeactioninnermain p{
    margin-top: 20px;
}

.takeactioninnermain img{
    /* display: none; */
    margin-top: 20px;
    width: 50px;
}

.transactions img{
    margin: 10px;
    width: 50px;
}

.transactions{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin: 60px;
    /* background-color: #2f37ca; */
    /* background:linear-gradient(0deg, #2f37cacf, #2f37ca64), url("img/meeting.jpg"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    color: white;
}


.transactionsinner{
    text-align: center;
}

.midbuttons button{
    background-color: #2f37ca;
    color: white;
    padding: 10px;
    width: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.midbuttons{
    position: absolute;
    right: 10px;
}

.onboardingsteps{
    margin-top: 40px;
    text-align: center;
}

.onboardingsteps img{
    width: 50px;
    margin: 10px;
}


.onboardingstepsinner{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-between;
    margin-bottom: 30px;
    margin: 20px;
}

.testimonials{
    text-align: center;
    margin: 20px;
    
}

.testimonialsmaininner h4{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
}

.testimonialsmain{
    background-color: #F6F6F6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    height: 320px;
    color: black;
}

.testimonialsmaininner img{
    width: 40px;
    box-shadow:  5px 0px 10px 0px #aaa; 
    background-color: #2f37ca;
    padding: 5px;
    margin: 20px;
    border-radius: 100px;
}

.testimonialsmaininner{
    display: flex;
    align-items: center;
}

.testimonialsmainout{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    align-items: center;
}

/* FAQ STARTS HERE */
.faqintro{
    text-align: center;
    margin: 60px;
}

.faq-heading {
  font-weight: 400;
  font-size: 19px;
   -webkit-transition: text-indent 0.2s;
  text-indent: 20px;
  color: #333;
}

.faq-textout {  
  color: black;
  font-size: 1rem;
  width: 100vw;
  margin: 0px;
  padding: 10px;
  margin-bottom:30px;
}

.faq {
  width: 100vw;
  margin: 0 auto;
  background: white;
  border-radius: 4px;
  position: relative;
  border: 1px solid #E1E1E1;
}
.faq label {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 56px;
  padding-top:1px;
 
  background-color: #FAFAFA;
  border-bottom: 1px solid #E1E1E1;
}

.faq input[type="checkbox"] {
  display: none;
}

.faq .faq-arrow {
  width: 5px;
  height: 5px;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid rgba(0, 0, 0, 0.33);
  border-right: 2px solid rgba(0, 0, 0, 0.33);
  float: right;
  position: relative;
  top: -30px;
  right: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

 .faq input[type="checkbox"]:checked + label > .faq-arrow {
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
 .faq input[type="checkbox"]:checked + label {
  display: block;
  background: rgba(255,255,255,255) !important;
  color: #4f7351;
  height: 425px;
  transition: height 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

 .faq input[type='checkbox']:not(:checked) + label {
  display: block;
  transition: height 0.8s;
  height: 60px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}



/* FAQ ENDD HERE */


.cert{
    text-align: center;
    margin: 10px;
    margin-top: 40px;
}

.cert img{
    width: 100%;
    height: 400px;
    margin: 10px;
}

.faqmainsection{
    width: 100vw;
    overflow-x: hidden;
}



.cert img{
    width: 300px;
    margin: 10px;
}

.plans{
    text-align: center;
    margin: auto;
}

.allplans{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.plansin{
    text-align: center;
}

.plansinimgmain{
    width: 60px;
}
/* .plansin2 h1 sup{
    font-size: .7rem;
} */

.plansin2 button{
    background-color: #2f37ca;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    transition: ease-in-out .3s;
}
.plansin2 button:hover{
    transform: scale(1.1);
}

.plansin{
    width: 280px;
    background-color: white;
    box-shadow:  5px 0px 10px 0px #aaa; 
    padding: 20px;
    border-radius: 10px;
}

.plansin2 button img{
    width: 20px;
}

button{
    cursor: pointer;
}

.plansin2 p{
    margin-top: 20px;
}

.plans h3 strong{
    color: #2f37ca;
    /* text-decoration: underline; */
}

/* .plansin3{
    display: inline;
    align-items: center;
} */

.plansin3{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    margin-top: 0px;
    font-size: .9rem;
    margin-bottom: 0px;
    /* background-color: red; */
    justify-content: space-between;
    /* grid-template-columns: 30% 70%; */
}


.plansin3 p{
    margin-top: 10px;
    text-align: left;
    /* display: none; */
}

.hideonmobile{
    display: none;
}


.plansin3 img{
    width: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.proof{    
    text-align: center;
    margin: 30px;
}
.proofinner{
    display: flex;
    justify-content: space-around;
    margin: auto;    
    text-align: center;
}

.proofinnerinner{
    display: flex;
    align-items: center;
    width: 500px;
    margin-bottom: 50px;
}

.proofinnerinner img{
    width: 30px;
    margin-right: 10px;
}


footer{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: auto;
    background:linear-gradient(0deg, #222ac5c7, #000000f1);
    padding: 20px;
    padding-bottom: 100px;
}


footer a{
    color: white;
    text-decoration: underline;
    transition: ease-in-out .3s;
    /* font-weight: bold; */
}

footer a:hover{
    transform: scale(1.1);
    /* font-weight: bold; */
}


.spinner{
    width: 80px;
    height: 80px;
    
    border: 2px solid #f3f3f3;
    border-top:3px solid #2f37ca;
    border-radius: 100%;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 1s infinite linear;
}

.ourproducts{
    margin-top: 40px;
    margin-bottom: 100px;
}

.ourproducts h1{
    margin-left: 20px;
    margin-bottom: 20px;
}

.ourproductsinner {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
}

.ourproductsinner img{
    width: 400px;
    height: 300px;
    position: relative;
    cursor: pointer;
    object-fit: cover;
}

.ourproductsinner p{
    text-align: right;
    width: 98%;
    padding-right: 10px;
    margin-bottom: 50px;
    z-index: 10;
    background-color: white;
    color: black;
    font-weight: bold;
    bottom: 0px;
    right: 0px;
}

.getstarted{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}

.getstarted button{
    background-color: #2f37ca;
    padding: 5px;
    font-size: .9rem;
    color: white;
    border: none;
    border-radius: 5px;
    transition: ease-in-out .3s;
}

.getstarted button img{
    width: 20px;
}


.getstarted input{
    width: 100%;
    height: 50px;
    padding: 10px;
}

.getstarted textarea{
    width: 100%;
    height: 150px;
    padding: 10px;
}




.desktopview{
    display: block;
}

.mobileview{
    display: none;
}




.telegram img{
    /* background-image: url(img/telegram2.gif); */
    width: 50px;
    cursor: pointer;
    position: fixed;
    bottom: 38px;
    right: 20px;
    z-index: 200;
    /* background-repeat: no-repeat;
    background-size: contain; */
}






@media (max-width: 768px){

    
    .desktopview{
        display: none;
    }

    .mobileview{
        display: block;
    }


    
    .navbar{
        opacity: 0.95;
        color: black;
        width: 100vw;
    }

    .herosectioninner{
        padding-top: 170px;
        width: 100%;
        padding-left: 20px;
    }

    .aboutusinner img{
        margin-bottom: 50px;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: white;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .menu-items a{
        color: black;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: transparent;
        /* background: #fff; */
        height: 100vh;
        width: 60%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -60px;
        margin-top: -10px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        /* box-shadow:  5px 0px 10px 0px #aaa; */
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
        color: black;
    }

    .logo{
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}


@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}




body{
    width: 100vw;
    overflow-x: hidden;
}

.tradingview-widget-container{
    margin-top: -70px;
    text-align: center;
    margin: auto;
}



@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#overlay{
  height:100%;
  width:100%;
  background:rgb(255, 255, 255);
  position:fixed;
  left:0;
  top:0;
 }


.binance-widget-marquee{
    position: fixed;
    bottom: 0;
    margin-bottom: -45px;
    right: 0;
    z-index: 101;
    left: 0;
    width: 100vw;
}


.coinboxes{
    text-align: center;
    width: 500px;
    margin: auto;
}


.herodesktop{
    display: block;
}

.heromobile{
    display: none;
}




@media (max-width: 768px){

    
.herodesktop{
    display: none;
}

.heromobile{
    display: block;
}
    .navbar{
        opacity: 0.95;
        color: black;
        background-color: transparent;
    }

    .herosection{
        height: 600px;
        width: 100vw;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        object-position: center;
        background-attachment: fixed;
        color: white;
    }

    .herosectioninner{
        padding-top: 100px;
        width: 100%;
        padding-left: 20px;
    }
    .herosectioninner h4{
        font-size: 1rem;
    }
    .navlistinnerhideonmobile{
        display: none;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: white;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .menu-items a{
        color: black;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        width: 80%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -60px;
        margin-top: -10px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        /* box-shadow:  5px 0px 10px 0px #aaa; */
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
        color: black;
    }

    .logo{
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

    
.posthero{
    display: inline;
    margin: 20px;
    grid-template-columns: 100%;
    justify-content: space-between;
    margin: 60px 40px;
}
.aboutusinner{
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}


.whyusinner{
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    align-items: center;
}


.summaryjourneyinner{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.summaryjourney{
    height: 500px;
}


.takeactioninner{
    display: inline;
    grid-template-columns: 100%;
    justify-content: space-between;
    margin-top: 50px;
}

.takeaction{
    text-align: left;
    margin: 10px;
    width: 90%;
    margin: auto;
}

.takeactioninner img{
    margin-right: 5px;
}

.midbuttons{
    position: relative;
    margin: auto;
    text-align: center;
}



.onboardingstepsinner{
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
    margin: 20px;
}


.testimonialsmainout{
    display: flex;
    width: 250vw;
    overflow: scroll;
    justify-content: space-between;
    align-items: center;
}

.testimonialsmainout2{
    overflow: scroll;
}


.coinboxes{
    text-align: center;
    width: 100%;
    margin: auto;
}

.charttrade h1{
    color: #bbbcd2;
    font-size: 3rem;
}

video {
    object-fit: contain;
    height:"150px";
    overflow-clip-margin: content-box;
    overflow: clip;
}
.allplans{
    display: inline;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

.plansin{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}
.proofinner{
    display: inline;
    justify-content: space-around;
    margin: auto;    
    text-align: center;
}


.proofinnerinner{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.footerdiv{
    margin-bottom: 50px;
    padding-left: 10px;
}


footer{
    display: grid;
    grid-template-columns: 100%;
    justify-content: none;    
    background:linear-gradient(0deg, #222ac5c7, #000000f1);
    color: white;
    align-items: left;
    margin: auto;
    padding: 20px;
    padding-bottom: 100px;
}


footer a{
    color: white;
    text-decoration: underline;
    transition: ease-in-out .3s;
    /* font-weight: bold; */
}


#google_translate_element{
    position: fixed;
    top: 0px;
    text-align: center;
    margin: auto;
    width: 100vw;
    /* background-color: #181A20; */
    background-color: transparent;
    z-index: 101;
}

.postheroinner img{
    /* width: 30px;
    height: 30px; */
}
.postheroinner{
    display: flex;
    align-items: top;
    margin: 20px;
}

p{
    font-size: .8rem;
    margin-bottom: 0px;
}

.testimonialsmain{
    background-color: #F6F6F6;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 5px;
    height: 100%;
    color: black;
}

.plansin3{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    /* background-color: red; */
    justify-content: space-between;
    /* grid-template-columns: 30% 70%; */
}

.hideonmobile{
    display: none;
}
.plansin3 img{
    width: 20px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
}

.plansin2 h2{
    font-size: 1rem;
    font-weight: bold;
}

.plansin3 p{
    margin-top: 0px;
    text-align: left;
    align-items: left;
    /* display: none; */
}

.plansin2 p{
    margin-top: 5px;
    font-size: .8rem;
}
.plansin2 button{
    background-color: #2f37ca;
    /* background-color: #181a204f; */
    padding: 5px;
    font-size: .9rem;
    color: white;
    border: none;
    border-radius: 5px;
    transition: ease-in-out .3s;
}

.testimonialsmain h5{
    font-size: 1rem;
}


.cert img{
    width: 200px;
    height: 300px;
    margin: 10px;
}



.testimonialsmaininner h4{
    font-size: .8rem;
    font-weight: bold;
    margin-top: 5px;
}


.takeactioninnermain img{
    margin-right: 10px;
    width: 20px;
    margin-top: 20px;
}


.ourproductsinner {
    display: inline;
    grid-template-columns: 100%;
    justify-content: space-between;
}

.ourproductsinner img{
    width: 90%;
    margin: 20px;
    height: 300px;
    object-fit: cover;
}

.ourproductsinner p{
    font-size: 1rem;
    /* padding-bottom: 100px; */
}


.getstarted{
    display: grid;
    grid-template-columns: 100%;
    justify-content: safe;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 100px;
}

.getstartedmain{
    margin-bottom: 30px;
}



.getstarted input{
    width: 90%;
    height: 50px;
    padding: 10px;
}

.getstarted textarea{
    width: 90%;
    height: 150px;
    padding: 10px;
}




}



.image-slideshow {
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
    /* z-index: 2; */
    }
    
    img {
    width: 100%
    }
    
    .fade {
    animation-name: fade;
    animation-duration: 2s;
    }
    
    @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.image-slideshow2{
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
    /* z-index: 2; */
    }
    
    img {
    width: 100%
    }
    
    .fade2 {
    animation-name: fade2;
    animation-duration: 2s;
    }
    
    @keyframes fade2 {
    from {opacity: .4}
    to {opacity: 1}
}










