{% include 'generalapp.html' %} 
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'general/img/itsalogo.PNG' %}> 
		<link rel="stylesheet" href={% static 'deposite/css/style.css' %} />
		<link rel="stylesheet" href={% static 'dashboard/css/style.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% comment %} <link rel="stylesheet" href={% static 'onboard/css/formcss.css' %} />
		<link rel="stylesheet" href={% static 'onboard/css/style.css' %} /> {% endcomment %}
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title> Confirm Investment </title>
	</head>
	<body>
        <main>
            <div class='confirminvestment'>
                <h1><strong>Franklin</strong>, Kindly Confirm Your Investment Choice</h1><br/><br/>
                <h3>Investment Plan: <strong>Plan A - Gold</strong></h3><br/>
                <h3>Amount To Invest: <strong>$1000</strong></h3><br/>
                <h3>Investment Method: <strong>Ethereum</strong></h3><br/><br/>
                <div class='confirminvestmentproceed'><button>Continue</button></div>
                <div class='confirminvestmentreturn'><button>Return To Form</button></div>
            </div>
            <div class='footer'>
                {% comment %} <p>Copyrights | Exodus Trade</p> {% endcomment %}
                <div class='copyrightSection'>
                    <div class='copyrightSectionInner'>
                        <img src={% static 'general/img/copyright.png' %} />
                        <h4>2023. Exodus - Trade. All rights reserved</h4>
                    </div>
                </div>
            </div>
        </main>
    </body>
</head>
{% endblock content %}