{% include 'generalapp.html' %} 
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'general/img/itsalogo.PNG' %}> 
		<link rel="stylesheet" href={% static 'dashboard/css/style.css' %} />
		<link rel="stylesheet" href={% static 'deposite/css/style.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% comment %} <link rel="stylesheet" href={% static 'onboard/css/formcss.css' %} />
		<link rel="stylesheet" href={% static 'onboard/css/style.css' %} /> {% endcomment %}
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>ET - Deposite Funds </title>
	</head>
	<body style="background: #181A20" >
        <div class='shadow'></div>
        <div class='main'>
            <div class='sectionintro'>
                <img src={% static 'general/img/handcash.png' %} />
                <h1>Make a deposite</h1>
            </div>
				
            <div id="flash">
                {% if messages %} {% for message in messages %}
                <div class="alert alert-{{ message.tags}} m-0" role="alert">
                    <strong style="color: white">{{ message }}</strong>
                </div>
                {% endfor %} {% endif %}
            </div>


            <div><br/>
                <p>Select a plan:</p>
                <div class='planselectionsection'>
                    <div>
                        <h5  class='planselectionsectiontxt'>SELECT INVESTMENT PLAN</h5>
                        <div>
                            <div class='planproperout'>
                                <div class='planproper planproperone activeplan'>
                                    <div class='arrowdown arrowdownone'>
                                        <img src={% static 'deposite/img/arrowdown.png' %} />
                                    </div>
                                    <h1>BRONZE PLAN</h1>
                                    <div class='desktoppricerange'>
                                        {% comment %} <h4></h4> {% endcomment %}
                                        <h5>Min amount:<br/> $30</h5>
                                        <h5>Max amount:<br/> $499</h5>
                                        <h5>ROI:<br/> 7% AFTER 12 HOURS</h5>
                                        <h5>24/7 Live Support</h5>
                                    </div>
                                    <div class='mobilepricerange'>
                                        <h3> 7% AFTER 12 HOURS</h3>
                                        <div class='mobilepricerangeinner1'>
                                            <h4>Min: $30 </h4>
                                            <img src={% static 'deposite/img/twofacearrow.png' %} />
                                            <h4>Max: $499 </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class='planproper planpropertwo'>
                                    <div class='arrowdown arrowdowntwo'>
                                        <img src={% static 'deposite/img/arrowdown.png' %} />
                                    </div>
                                    <h1>SILVER PLAN</h1>
                                    <div class='desktoppricerange'>
                                        <h5>Min amount:<br/> $500</h5>
                                        <h5>Max amount:<br/> $3,999</h5>
                                        <h5>ROI:<br/> 12% AFTER 24 HOURS</h5>
                                        <h5>24/7 Live Support</h5>
                                    </div>
                                    <div class='mobilepricerange'>
                                        <h3>12% AFTER 24 HOURS</h3>
                                        <div class='mobilepricerangeinner2'>
                                            <h4>Min: $500 </h4>
                                            <img src={% static 'deposite/img/twofacearrow.png' %} />
                                            <h4>Max: $3,999 </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class='planproper planproperthree'>
                                    <div class='arrowdown arrowdownthree'>
                                        <img src={% static 'deposite/img/arrowdown.png' %} />
                                    </div>
                                    <h1>GOLD<br/> PLAN</h1>
                                    <div class='desktoppricerange'>
                                        <h5>Min amount:<br/> $4,000</h5>
                                        <h5>Max amount:<br/> $29,999</h5>
                                        <h5>ROI:<br/> 50% AFTER 72 HOURS</h5>
                                        <h5>24/7 Live Support</h5>
                                    </div>
                                    <div class='mobilepricerange'>
                                        <h3>50% AFTER 72 HOURS</h3>
                                        <div class='mobilepricerangeinner3'>
                                            <h4>Min: $4,000 </h4>
                                            <img src={% static 'deposite/img/twofacearrow.png' %} />
                                            <h4>Max: $29,999 </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class='planproper planproperfour'>
                                    <div class='arrowdown arrowdownfour'>
                                        <img src={% static 'deposite/img/arrowdown.png' %} />
                                    </div>
                                    <h1>DIAMOND PLAN</h1>
                                    <div class='desktoppricerange'>
                                        <h5>Min amount:<br/> $30,000</h5>
                                        <h5>Max amount:<br/> $UNLIMITED</h5>
                                        <h5>ROI:<br/> 100% AFTER 168 HOURS</h5>
                                        <h5>24/7 Live Support</h5>
                                    </div>
                                    
                                    <div class='mobilepricerange'>
                                        <h3>100% AFTER 168 HOURS</h3>
                                        <div class='mobilepricerangeinner'>
                                            <h4>Min: $30,000 </h4>
                                            <img src={% static 'deposite/img/twofacearrow.png' %} />
                                            <h4>Max: $UNLIMITED </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h5 class='planselectionsectiontxt'>SELECT PAYMENT METHOD AND ENTER AMOUNT</h5>
                            <div class='walletselectproper'>
                                <form method='POST'>
                                    {% csrf_token %}
                                    <div class='planselectedselected'>
                                        <input hidden name='planselected' type='text' />
                                    </div>
                                    <select required name='wallet'>
                                        <option value='Bitcoin'>Bitcoin</option>
                                        <option value='USDT'>USDT Bep20</option>
                                        <option value='Tron'>Tron Address</option>
                                        <option value='bnb'>BnB</option>
                                    </select>
                                    <div class='walletselectamount'>
                                        <div class='walletselectamountimg'><img src={% static 'general/img/dollar.png' %} /></div>
                                        <input required name='amount' type='number' placeholder='Enter Investment Amount' />
                                    </div>
                                    <div class='walletselectproperbtn'>
                                        <button type='submit'>Make a deposite</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src={% static 'deposite/js/main.js' %}></script>
    </body>
</head>
{% endblock content %}