{% include 'generalapp.html' %} 
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'general/img/itsalogo.PNG' %}> 
		<link rel="stylesheet" href={% static 'withdraw/css/style.css' %} />
		<link rel="stylesheet" href={% static 'dashboard/css/style.css' %} />
		<link rel="stylesheet" href={% static 'history/style.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% comment %} <link rel="stylesheet" href={% static 'onboard/css/formcss.css' %} />
		<link rel="stylesheet" href={% static 'onboard/css/style.css' %} /> {% endcomment %}
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>History </title>
	</head>
	<body style="background: #181A20" >
        <div class='shadow'></div>
        <div class='main'>
		
				
			<div id="flash">
				{% if messages %} {% for message in messages %}
				<div class="alert alert-{{ message.tags}} m-0" role="alert">
					<strong style="color: #004767">{{ message }}</strong>
				</div>
				{% endfor %} {% endif %}
			</div>
	
            <div class='transactionsection'>
				<h1>Account History</h1><br/><br/>
				<div class='tablesection'>
					<h4>All Deposites History</h4><br/>
					<p class='currentdatetime'></p>
					{% if OrderDetails %}
					<table>
						<tr>
						<th>Date/Time Deposited</th>
						<th>Deposite ID</th>
						<th>Cryptocurrency</th>
						<th>Amount</th>
						<th>Plan</th>
						<th>Status</th>
						<th>Cashout date</th>
						<th>Refresh</th>
						</tr>
						{% for OrderDetails in OrderDetails %}
						<tr>
							<td>{{ OrderDetails.created_at }}</td>
							<td>{{ OrderDetails.depositeID }}</td>
							<td>{{ OrderDetails.wallet }}</td>
							<td>${{ OrderDetails.amount }}</td>
							<td>{{ OrderDetails.planSelected }}</td>
							{% comment %} <td class=''>{{ OrderDetails.planexpirytime }}</td> {% endcomment %}
							<td class='orderstatus'>{{ OrderDetails.depositestatus }}</td>
							<td class="{{ OrderDetails.planSelected }}">
								<p class='addtimmerhere'></p>
								<p class='approvedtimmerhere'>{{ OrderDetails.planexpirytime }}</p>
							</td>
							<td class='refreshdate'><div class='updatedataform'>
								<form method='POST'>
									{% csrf_token %}
									<input hidden name='orderamount' value={{ OrderDetails.amount }} />
									<input hidden name='orderID' value={{ OrderDetails.depositeID }} />
									<input hidden name='cryptocurrentcy' value={{ OrderDetails.wallet }} />
									<input hidden class='checkifapproved' name='checkifapproved' />
								</form>
									<button>Refresh Data</button>
							</div></td>
						</tr>
						{% endfor %}
					</table>
					{% else %}
					<h4>Your have not made any deposites yet.</h4>
					<a href={% url 'Deposite' %}><button>Click to select a plan</button></a>
					{% endif %}
				</div>
			</div>
        </div>
		<script src={% static "history/js/history.js" %}></script>
    </body>
</html>
{% endblock content %}