{% include 'generalapp.html' %} 
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'general/img/itsalogo.PNG' %}> 
		<link rel="stylesheet" href={% static 'dashboard/css/style.css' %} />
		<link rel="stylesheet" href={% static 'withdraw/css/style.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% comment %} <link rel="stylesheet" href={% static 'onboard/css/formcss.css' %} />
		<link rel="stylesheet" href={% static 'onboard/css/style.css' %} /> {% endcomment %}
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>Withdraw Funds </title>
	</head>
	<body style="background: #181A20" >
		<div class='main'>
            <div>
				<h1>Withdraw Funds</h1>
				<h4>Fill the form below to make a withdrawal</h4>
				<h3>Your account balance is ${{UserAccountBalance}}</h3>	
			</div>
		
				
			<div id="flash">
				{% if messages %} {% for message in messages %}
				<div class="alert alert-{{ message.tags}} m-0" role="alert">
					<strong style="color: #004767">{{ message }}</strong>
				</div>
				{% endfor %} {% endif %}
			</div>
	
			<div class='withdrawintro'>
				<div>
					<h2>Fill the form to make a withdrawal</h2>		
					<form method='POST'>
						{% csrf_token %}
						<label><h5>Enter an amount to withdraw($)</h5></label><br/>
						<input name='amountEntered' required type='text' placeholder='eg: 8000' /><br/><br/>
						<label><h5>Select a wallet to withdraw these funds to:</h5></label><br/>
						<select required name='walletselected' style="color:black" >
							<option style="color:black" >--Select Wallet--</option>
							<option style="color:black" >Bitcoin</option>
							<option style="color:black" >USDT</option>
							<option style="color:black" >Tron</option>
							<option style="color:black" >BnB</option>
						</select><br/><br/>
						<label><h5>Enter Wallet ID</h5></label><br/>
						<input name='cryptowalletID' type='text' placeholder='Wallet ID eg Bitcoin Wallet ID' /><br/><br/>
						<button>Confirm Withdrawal</button>
					</form><br/><br/>
					<hr/><br/>
				</div>
				<div>
					<h3>View and track all withdwaral</h3>
					<div class='withdrawtable'>						
						<table>
							<tr>
							<th>Date Requested</th>
							<th>Wallet Selected</th>
							<th>Amount requested</th>
							<th>Approval Status</th>
							<th>Wallet ID</th>
							</tr>
							{% for AllWithdrawalRequest in AllWithdrawalRequest %}
							<tr>
								<td>{{ AllWithdrawalRequest.created_at }}</td>
								<td>{{ AllWithdrawalRequest.withdrawcrptocurrency }}</td>
								<td>${{ AllWithdrawalRequest.withdrawamount }}</td>
								<td>{{ AllWithdrawalRequest.withdrawalRequestStatus }}</td>
								<td>{{ AllWithdrawalRequest.cryptowalletID }}</td></tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			
				
			<div class='accountbalance'>
				<div class='withdrawtable'>
					<h2>Account Balances</h2>
					<table>
						<tr>
						<th>Date Updated</th>
						<th>Cryptocurrency</th>
						<th>Original Investment</th>
						<th>Plan</th>
						<th>Earning %</th>
						<th>ID</th>
						<th>Your earning(s)</th>
						</tr>
						{% for AllDueForWithdrawal in AllDueForWithdrawal %}
						<tr>
							<td>{{ AllDueForWithdrawal.created_at }}</td>
							<td>{{ AllDueForWithdrawal.ordercrptocurrency }}</td>
							<td>${{ AllDueForWithdrawal.orderamount }}</td>
							<td class={{ AllDueForWithdrawal.plan }}>{{ AllDueForWithdrawal.plan }}</td>
							<td></td>
							<td>{{ AllDueForWithdrawal.orderID }}</td>
							<td>${{ AllDueForWithdrawal.earnedamount }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
        </div>
		<script src={% static 'withdraw/js/withdraw.js' %}></script>
    </body>
</html>
{% endblock content %}

