{% load static %} 
<body>
    <div>
        <div class='navsection'>
            <div class='intrologo'>
                <img src={% static 'general/img/etlogowhite2.png' %} />
                <h4>Exness<br/>Finance </h4>
            </div>
            <div class='dateandprofile'>
                <div>
                    <p class='datehere'></p>
                </div>
                <div class='profilesection'>
                    <div class='profilesectioninner'><img src={% static 'general/img/user.jpg' %} /></div>
                    <div class='profilesectionmain'>
                        <p>{{ request.user }}</p>
                        <div class='profilesectioninner'><img src={% static 'general/img/arrow.png' %} /></div>
                    </div>
                </div>
            </div>
        </div>

       <div class='responsivenav'>
            <div class='responsivenavsection1'>
                <div class='intrologo'>
                    <img src={% static 'general/img/etlogowhite2.png' %} />
                    <h4>Exness<br/>Finance </h4>
                </div>
                <div class='hamburgerMain'>
                    <a class="hamburger" href="#"><span></span></a>
                </div>
            </div>
            <hr/>
            <div>
                <div class='dateandprofile dateandprofile2'>
                    <div>
                        <p class='dateheremobile'></p>
                    </div>
                    <div class='profilesection'>
                        <div class='profilesectioninner profilesectioninner2'><img src={% static 'general/img/user.jpg' %} /></div>
                        <div class='profilesectionmain'>
                            <div class='profilesectioninner profilesectioninner2'><img src={% static 'general/img/arrow.png' %} /></div>
                        </div>
                    </div>
                </div>

            </div>
       </div>

       <div class='responsivesidebar'>
            <div class='resposidemini'>               
                <ul>
                    <a href={% url 'Dashboard' %}>
                        <li>
                            <img src={% static 'general/img/dashboard.png' %} />
                        </li>
                    </a>
                    <a href={% url 'Deposite' %}>
                        <li>
                            <img src={% static 'general/img/handcash.png' %} />
                        </li>
                    </a>
                    <a href={% url 'Withdraw' %}>
                        <li>
                            <img src={% static 'general/img/withdraw.png' %} />
                        </li>
                    </a>
                    <a href={% url 'Deposite' %}>
                        <li>
                            <img src={% static 'general/img/cash.png' %} />
                        </li>
                    </a>
                    <a href={% url 'History' %}>
                        <li>
                            <img src={% static 'general/img/cashturn.png' %} />
                        </li>
                    </a>
                    <a href={% url 'ReferalFxn' %}>
                        <li>
                            <img src={% static 'general/img/partner.png' %} />
                        </li>
                    </a>
                    <a href={% url 'BannerAd' %}>
                        <li>
                            <img src={% static 'general/img/banner.png' %} />
                        </li>
                    </a>
                    <a href="https://ceness-trade.com/#faq" target="_blank">
                        <li>
                            <img src={% static 'general/img/qa.png' %} />
                        </li>
                    </a>
                    <a href="https://t.me/httpstmehttpstmeCenesstrade" target="_blank">
                        <li>
                            <img src={% static 'general/img/support.png' %} />
                        </li>
                    </a>
                </ul>
            </div>
            {% comment %} MOBILE FULL SIDE BAR STARTS HERE {% endcomment %}
            <div class='resposidebar'>
                <div class='sidebarsectioninner sidebarsectioninner2'>
                    <div class='acctbalance acctbalance2'>
                        <div>
                            <h1>0</h1>
                            <p>Account Balance</p>
                        </div>
                        <div class='acctbalanceimg'>
                            <img src={% static 'general/img/rightarrow.png' %} />
                        </div>
                    </div>
                    <hr/>
                    <div>
                        <p class='navigationtextmobile'>Navigation</p>
                        <div class='sidenavlist'>
                            <ul>
                                <a href={% url 'Dashboard' %}>
                                    <li>
                                        <img src={% static 'general/img/dashboard.png' %} />
                                        <p>Dashboard</p>
                                    </li>
                                </a>
                                <a href={% url 'Deposite' %}>
                                    <li>
                                        <img src={% static 'general/img/handcash.png' %} />
                                        <p>Make A Deposite</p>
                                    </li>
                                </a>
                                <a href={% url 'Withdraw' %}>
                                    <li>
                                        <img src={% static 'general/img/withdraw.png' %} />
                                        <p>Withdrawal</p>
                                    </li>
                                </a>
                                <a href={% url 'Deposite' %}>
                                    <li>
                                        <img src={% static 'general/img/cash.png' %} />
                                        <p>Active Deposite</p>
                                    </li>
                                </a>
                                <a href={% url 'History' %}>
                                    <li>
                                        <img src={% static 'general/img/cashturn.png' %} />
                                        <p>Account History</p>
                                    </li>
                                </a>
                                <a href={% url 'ReferalFxn' %}>
                                    <li>
                                        <img src={% static 'general/img/partner.png' %} />
                                        <p>Referal Program</p>
                                    </li>
                                </a>
                                <a href={% url 'BannerAd' %}>
                                    <li>
                                        <img src={% static 'general/img/banner.png' %} />
                                        <p>Banner Ads</p>
                                    </li>
                                </a>
                                <a href="https://ceness-trade.com/#faq" target="_blank">
                                    <li>
                                        <img src={% static 'general/img/qa.png' %} />
                                        <p>FAQs</p>
                                    </li>
                                </a>
                                <a href="https://t.me/httpstmehttpstmeCenesstrade" target="_blank">
                                    <li>
                                        <img src={% static 'general/img/support.png' %} />
                                        <p>Support</p>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>    

            </div>
            <div class='closearrow2 turnarrow'>
                <img src={% static 'general/img/closearrow.png' %} />
            </div>
       </div>

        {% comment %} SIDE BAR STARTS HERE {% endcomment %}
       <div class='navigationall'>
            <div class='sidebarsection'>
                <div class='sidebarsectioninner'>
                    <div class='acctbalance'>
                        <div>
                            <h1>0</h1>
                            <p>Account Balance</p>
                        </div>
                        <div class='acctbalanceimg'>
                            <img src={% static 'general/img/rightarrow.png' %} />
                        </div>
                    </div>
                    <hr/>
                    <div>
                        <p>Navigation</p>
                        <div class='sidenavlist'>
                            <ul>
                                <a href={% url 'Dashboard' %}>
                                    <li>
                                        <img src={% static 'general/img/dashboard.png' %} />
                                        <p>Dashboard</p>
                                    </li>
                                </a>
                                <a href={% url 'Deposite' %}>
                                    <li>
                                        <img src={% static 'general/img/handcash.png' %} />
                                        <p>Make A Deposite</p>
                                    </li>
                                </a>
                                <a href={% url 'Withdraw' %}>
                                <li>
                                    <img src={% static 'general/img/withdraw.png' %} />
                                    <p>Withdrawal</p>
                                </li>
                                </a>
                                <a href={% url 'Deposite' %}>
                                <li>
                                    <img src={% static 'general/img/cash.png' %} />
                                    <p>Active Deposite</p>
                                </li>
                                </a>
                                <a href={% url 'History' %}>
                                    <li>
                                        <img src={% static 'general/img/cashturn.png' %} />
                                        <p>Account History</p>
                                    </li>
                                </a>
                                <a href={% url 'ReferalFxn' %}>
                                <li>
                                    <img src={% static 'general/img/partner.png' %} />
                                    <p>Referal Program</p>
                                </li>
                                </a>
                                <a href={% url 'BannerAd' %}>
                                <li>
                                    <img src={% static 'general/img/banner.png' %} />
                                    <p>Banner Ads</p>
                                </li>
                                </a>
                                <a href="https://ceness-trade.com/#faq" target="_blank">
                                <li>
                                    <img src={% static 'general/img/qa.png' %} />
                                    <p>FAQs</p>
                                </li>
                                </a>
                                <a href="https://t.me/httpstmehttpstmeCenesstrade" target="_blank">
                                <li>
                                    <img src={% static 'general/img/support.png' %} />
                                    <p>Support</p>
                                </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>      
            </div>
            <div class='sidebarmini'>
                <ul>
                    <a href={% url 'Dashboard' %}>
                        <li>
                            <img src={% static 'general/img/dashboard.png' %} />
                        </li>
                    </a>
                    <a href={% url 'Deposite' %}>
                        <li>
                            <img src={% static 'general/img/handcash.png' %} />
                        </li>
                    </a>
                    <a href={% url 'Withdraw' %}>
                        <li>
                            <img src={% static 'general/img/withdraw.png' %} />
                        </li>
                    </a>
                    <a href={% url 'Deposite' %}>
                        <li>
                            <img src={% static 'general/img/cash.png' %} />
                        </li>
                    </a>
                    <a href={% url 'History' %}>
                        <li>
                            <img src={% static 'general/img/cashturn.png' %} />
                        </li>
                    </a>
                    <a href={% url 'ReferalFxn' %}>
                        <li>
                            <img src={% static 'general/img/partner.png' %} />
                        </li>
                    </a>
                    <a href={% url 'BannerAd' %}>
                        <li>
                            <img src={% static 'general/img/banner.png' %} />
                        </li>
                    </a>
                    <a href="https://ceness-trade.com/#faq" target="_blank">
                        <li>
                            <img src={% static 'general/img/qa.png' %} />
                        </li>
                    </a>
                    <a href="https://t.me/httpstmehttpstmeCenesstrade" target="_blank">
                        <li>
                            <img src={% static 'general/img/support.png' %} />
                        </li>
                    </a>
                </ul>
            </div>  
            <div class='closearrow'>
                <img src={% static 'general/img/closearrow.png' %} />
            </div>
       </div>
    </div>
</body>